.sfondo {
    background-color: coral;
    margin-bottom: 0px;
}

.title {
    padding: 0 0 6px 10px;
    border-left: 10px solid #000000;
    border-bottom: 2px solid #000000; 
}

/* Small devices (landscape phones, 354px and up) */
@media (min-width: 354px) { 
    .img {
        height: 100px;
        width: 200px;
    } 
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .img {
        height: 200px;
        width: 300px;
    } 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .img {
        height: 300px;
        width: 400px;
    } 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .img {
        height: 400px;
        width: 500px;
    } 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .img {
        height: 437px;
        width: 640px;
    } 
}